a{
    text-decoration: none;
    font-size: 20px;
}

html,
body{
    padding: 0;
    margin: 0%;
    font-family: roboto-regular;
    font-size: 14px;
}

header{
    display: flex;
    align-items: center;
    
}
ul{
    display: flex;
}
li{
    margin: 10px;
    list-style: none;
}
.logo{
    margin: 50px;
}

.banner{
    background-image: url(./assets/images/academy.png);
    width: 100%;
    height: 600px;
}

.mask{
    width: 100%;
    height: 600px;
    background-color: rgba(21, 74, 179, 0.633);
    
}

footer{
    background-color: black;
    height: 100px;
    padding: 25px;
}

footer span{
    color: #dadadac2;
    margin: 25px;
    font-size: 17px;
}

@font-face {
    font-family: roboto-thin;
    src: url(./assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(./assets/fonts/Roboto-Light.ttf);
}


@font-face {
    font-family: roboto-regular;
    src: url(../Univ_Lome/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../Univ_Lome/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../Univ_Lome/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../Univ_Lome/assets/fonts/Roboto-Black.ttf);
}